<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "base/partials/head.html" %}
    <title>{% block head_title %}{% endblock head_title %}</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Enquetes</h1>
            <nav>
                <ul>
                    {% if user.is_staff %}
                        {% include "base/partials/menu_staff.html" %}
                    {% else %}
                        {% include "base/partials/menu_login.html" %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
    </footer>
</body>
</html>