{% extends "base/base.html" %}
{% block head_title %}Enquetes{% endblock head_title %}

{% block content %}
    <div class="container">
        <section class="result-vote">
            <div>
                <h2>{{poll.question_text}}</h2>
            </div>
            <ul>
                {% for choice in choices %}
                    <li>
                        <span>{{choice.choice_text}}</span>
                        <span>{{choice.percentage}}</span>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock content %}