{% extends "base/base.html" %}
{% block head_title %}Enquetes{% endblock head_title %}

{% block content %}
    <div class="container">
        <section class="vote">
            <form action="" method="post">
                <div>
                    <h2>{{poll.question_text}}</h2>
                    <button type="submit" class="btn">Votar</button>
                </div>
                {% csrf_token %}
                {% for choice in choices  %}
                    <label for="choice{{ choice.id }}">
                        <input type="radio" name="choice" value="{{ choice.id }}" id="choice{{ choice.id }}">
                        <span>{{ choice.choice_text }}</span>
                    </label>
                {% endfor %}
            </form>
            {% if messages %}
                <ul>
                    {% for msg in messages %}
                        <li class="error">{{ msg }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </div>
{% endblock content %}