{% extends "base/base.html" %}
{% block head_title %}Login{% endblock head_title %}

{% block content %}
<div class="container">
    <section class="login">
        <form method="post">
            {% csrf_token %}
            <label for="id_username">
                <span>Nome de usuário</span>
                {{login_form.username}}
            </label>
            <label for="id_password">
                <span>Senha</span>
                {{login_form.password}}
            </label>
            <button type="submit" class="btn">Fazer o Login</button>
        </form>
    </section>
    {% if messages %}
    <ul>
    {% for msg in messages %}
        <li class="error">{{ msg }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}