{% extends "base/base.html" %}
{% block head_title %}Login{% endblock head_title %}

{% block content %}
<div class="container">
    <section class="register">
        <form method="post">
            {% csrf_token %}
            <label for="id_username">
                <span>Nome de usuário</span>
                {{user_form.username}}
            </label>
            <label for="id_password1">
                <span>Senha</span>
                {{user_form.password1}}
            </label>
            <label for="id_password2">
                <span>Repita a Senha</span>
                {{user_form.password2}}
            </label>
            <button type="submit" class="btn">Registrar</button>
        </form>
    </section>
</div>
{% endblock content %}